---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>

    <form method="POST" action="/api/contact">
      <input type="email" name="email" required class="input" />
      <textarea name="message" class="textarea" required></textarea>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </body>
</html>
