---

---

<section
  id="about"
  class="max-w-(--max-width) mx-auto px-6 py-12 flex items-center gap-8">
  <img
    src="/avatar.jpg"
    alt="avatar"
    class="w-36 h-36 rounded-lg object-cover"
  />
  <div class="prose">
    <p class="text-2xl font-semibold">
      An HCIM grad student at the University of Maryland with a background in
      computer engineering.
    </p>
    <p class="text-gray-600">
      I break giant problems into bite-sized ones and tackle them with critical
      research-to-design thinking. I speak "dev" too, so my prototypes are
      realistic and grounded.
    </p>
  </div>
</section>
