---

---

<footer class="overflow-hidden pt-4">
  <div class="relative max-w-(--max-width) mx-auto px-6">
    <div
      class="text-[4rem] md:text-[10rem] leading-[.72] text-primary font-heading font-bold">
      sontra
    </div>
  </div>
</footer>
