---

---

<footer class="mt-14 py-8">
  <div
    class="max-w-[var(--max-width)] mx-auto px-6 text-sm text-gray-600 flex items-center justify-between"
  >
    <div>trusha {new Date().getFullYear()}</div>
    <div class="signature">Trusha N.</div>
  </div>
</footer>
