---

---

<footer class="overflow-hidden pt-4">
  <div class="relative max-w-(--max-width) mx-auto px-6">
    <div class="text-[10rem] leading-[.7] text-primary font-heading font-bold">
      sontra
    </div>
  </div>
</footer>
