---

---

<header
  class="max-w-(--max-width) mx-auto px-6 py-8 flex items-center justify-between font-heading">
  <div class="text-2xl font-heading font-bold text-primary">sontra.dev</div>
  <a
    href="#resume"
    class="inline-block bg-primary text-white px-4 py-2 rounded-full text-sm">
    Book a Call
  </a>
</header>
