---
import { Image } from "astro:assets";
import hero from "../images/contractor-hero.webp";

const heroImageHeight = 1000;
---

<section
  class="max-w-(--max-width) mx-auto px-6 text-black relative min-h-120 flex flex-col md:flex-row py-10 overflow-hidden">
  <!-- left side -->
  <div
    class="text-left md:w-1/2 flex flex-col justify-center pr-6 flex-1 relative -top-10">
    <!-- text container -->
    <div class="relative">
      <h1 class="text-4xl md:text-5xl font-extrabold font-heading">
        Stop Chasing Leads.<br />Start Closing Jobs.
      </h1>
      <p class="text-lg mt-3 font-body">
        Let our AI system qualify clients, book appointments, and automates
        5-star reviews – <span class="italic">all while you sleep</span>
      </p>
    </div>
    <a
      href="#contact"
      class="bg-primary text-white px-4 py-2 rounded-lg inline-block w-fit mt-8">
      Unlock New Revenue
    </a>
  </div>

  <!-- right side -->
  <div
    class="flex justify-center gap-6 items-end md:w-1/2 relative right-0 -z-10">
    <Image
      src={hero}
      width={heroImageHeight}
      height={heroImageHeight}
      alt="buildings"
    />
  </div>
</section>
